extends ../layout/layout

include ../mixins/video

block content
  form(method='GET')
    label(for='keyword') Search by Title
    input(type='text', id='keyword' name='keyword', placeholder='Press <Enter Key> to search', required)
  br
  .video-grid
    if videos
      each video in videos
        +video(video)
    else
      span.empty__message No videos found