extends layout/layout
include mixins/video

block content
  h3 Trending videos
  if videos
    each video in videos
      +video(video)
    else
      |Sorry nothing found.
  else
    |Sorry nothing found.