extends layout/layout
include mixins/video

block content
  label Searching Title
    form(method="GET")
      input(type="text", name="keyword")
      input(type="submit", value="Search now")
  if videos
    each video in videos
      +video(video)