extends ../layout/layout

block content
  if errMsg
    sup=errMsg
  form(method="post") 
    label(for="current") Current Password
      input(type="password", name="current", required)
    label(for="password") New Password
      input(type="password", name="password", required)
    label(for="password2") New Password Confirm
      input(type="password", name="password2", required)
    input(type="submit", value="Change Password")